/1718-2/Practica #1/Todo/nbproject/private/
/1718-2/Practica #1/Practica2/nbproject/private/
/1718-2/Practica #3/Practica3/nbproject/private/
/1718-2/Practica #1/archivos/nbproject/private/
/1718-2/Practica #1/archivos/build/